@model BugTracker.Models.Classes.Ticket

@{
    ViewBag.Title = "Details";
}
<div class="blank">
    <div class="blank-page">
        <h2>Details</h2>

        <div>
            <h4>Ticket</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Priority
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TicketPriority.Name)
                </dd>

                <dt>
                    Status
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TicketStatus.Name)
                </dd>

                <dt>
                    Type
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TicketType.Name)
                </dd>

                <dt>
                    Title
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    Created On
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Created)
                </dd>

                <dt>
                    Owner of Ticket
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Creator.DisplayName)
                </dd>

                <dt>
                    Assigned Employee
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Assign.DisplayName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TicketProjectId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TicketProject.Name)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        @if (User.Identity.IsAuthenticated)
        {
        <div class="leave-coment-form">
            <h3>Leave Your Comment</h3>

            @using (Html.BeginForm("CreateComment", "Tickets", new { id = Model.Id }, FormMethod.Post))
            {
                <input type="hidden" name="comment" />
                <div  class="col-md-7">
                    <label for="comment">Comment:</label>
                    <textarea name="body" placeholder="Your comment here..." class="form-control"cols="10" id="comment"></textarea>
                </div>
                if (TempData["ErrorMessage"] != null)
                {
                    <span>@TempData["ErrorMessage"]</span>
                }
                if (ViewBag.ErrorMessage != null)
                {
                    <span>@ViewBag.ErrorMessage</span>
                }
                <div type="submit" value="Submit">
                    <input type="submit" value="Submit Comment" class="btn btn-danger">
                </div>
            }

            <div class="col-lg-6">
                @foreach (var item in Model.Comments)
                {
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger">@item.User.DisplayName</li>
                        <li class="list-group-item list-group-item-primary">@item.CommentDescription</li>
                        <li class="list-group-item list-group-item-primary">@item.Created.ToString()</li>
                    </ul>
                    <div class="clearfix"> </div>
                }
            </div>
        </div>

        }
     
    </div>
</div>