@model BugTracker.Models.Classes.Ticket

@{
    ViewBag.Title = "Details";
}
<div class="content-main">
    <div class="blank">
        <div class="blank-page">
            <h2>Details</h2>
            <div class="col">
                <div>
                    <h4>Ticket</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Priority
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TicketPriority.Name)
                        </dd>

                        <dt>
                            Status
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TicketStatus.Name)
                        </dd>

                        <dt>
                            Type
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TicketType.Name)
                        </dd>

                        <dt>
                            Title
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            Created On
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Created)
                        </dd>

                        <dt>
                            Owner of Ticket
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Creator.DisplayName)
                        </dd>

                        <dt>
                            Assigned Employee
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Assign.DisplayName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TicketProjectId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TicketProject.Name)
                        </dd>

                    </dl>
                </div>
               
                <div class="row">
                    <div class="col-md-6">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <h3>Leave Your Comment</h3>
                            <b>===========================</b>
                            using (Html.BeginForm("CreateComment", "Tickets", new { id = Model.Id }, FormMethod.Post))
                            {
                                <input type="hidden" name="comment" />
                                <div class="col-md-10">
                                    <textarea name="body" placeholder="Your comment here..." class="form-control" cols="10" rows="8" id="comment"></textarea>
                                    @if (TempData["ErrorMessage"] != null)
                                    {
                                        <p>@TempData["ErrorMessage"]</p>
                                    }
                                </div>
                                <div class="col-md-10">
                                    <input type="submit" value="Comment" class="btn btn-danger">
                                </div>
                            }
                        }
                    </div>
                    <div class="col-md-6">
                        @using (Html.BeginForm("UploadDocument", "Tickets", new { id = Model.Id }, FormMethod.Post, new { enctype = "Multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                        <div class="form-group col-lg-10">
                            <h3>Attechments</h3>
                            <b>===========================</b>
                            <textarea name="description" placeholder="Your Description here..." class="form-control" cols="10" rows="8" id="comment"></textarea>
                            <input name="document" type="file" class="form-control-file" id="fileUpload" />
                        </div>
                            <div class="col-md-10">
                                <input type="submit" value="Attech File" class="btn btn-danger">
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Recent Comments</h3>
                        <b>===========================</b>
                        @foreach (var item in Model.Comments)
                        {
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-warning">@item.User.DisplayName</li>
                                <li class="list-group-item list-group-item-primary">@item.CommentDescription</li>
                                <li class="list-group-item list-group-item-primary">@item.Created.ToString("dd:MM:yy HH:MM:ss")</li>
                            </ul>
                            <div class="clearfix"> </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <h3>Recent Attechments</h3>
                        <b>===========================</b>
                        @foreach (var item in Model.Attechments)
                        {
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-info">@item.User.DisplayName</li>
                                <li class="list-group-item list-group-item-primary">@item.Description</li>
                                <li class="list-group-item list-group-item-primary"><a href="@item.FilePath" download>Download</a></li>
                            </ul>
                            <div class="clearfix"> </div>
                        }
                    </div>
                </div>
                <div class="row">
                 

                    <div class="col-md-12">
                        <h3>Histories</h3>
                        <table id="peopleTable" class="table table-hover">
                            <thead>
                                <tr class="success">
                                    <th>
                                        Property Name
                                    </th>
                                    <th>
                                        Changed Date
                                    </th>
                                    <th>
                                        Old Value
                                    </th>
                                    <th>
                                        New Value
                                    </th>
                                    <th>
                                        Modifier User
                                    </th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Histories)
                                {
                                    <tr>
                                        <td>
                                            @item.Property
                                        </td>
                                        <td>
                                            @item.ChangedDate.ToString("dd/mm/yy HH:MM:ss")
                                        </td>
                                        <td>
                                            @item.NewValue
                                        </td>
                                        <td>
                                            @item.OldValue
                                        </td>
                                        <td>
                                            @item.HistoryUser.DisplayName
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>