@model IEnumerable<BugTracker.Models.Classes.Ticket>
@using BugTracker.Models.Helpers;
@{
    ViewBag.Title = "Index";
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#peopleTable').DataTable();
        });
    </script>
}
<div class="content-main">
    <div class="blank">
        <div class="blank-page">
            <h2>Index</h2>

            <table id="peopleTable" class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TicketProject)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TicketPriority)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TicketStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TicketType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Created)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Updated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatorId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AssignId)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketProject.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayDate(item.Created)
                            </td>
                            <td>
                                @Html.DisplayDate(item.Updated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Creator.DisplayName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Assign.DisplayName)
                            </td>
                            @if (User.IsInRole("Admin") && string.IsNullOrWhiteSpace(ViewBag.User))
                            {
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                                </td>
                            }
                            @if (User.Identity.IsAuthenticated && !string.IsNullOrWhiteSpace(ViewBag.User))
                            {
                                @Html.Raw(Html.DisplayLinks((string)ViewBag.User, item.Id))
                            }
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>
