@using BugTracker.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}


<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Minimal an Admin Panel Category Flat Bootstrap Responsive Website Template | Signin :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Content/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>

    <div class="login">
        <h1><a href=@Url.Action("index","home")>Bug Tracker </a></h1>
        <div class="login-bottom">
            <h2>Login</h2>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-6">
                <div class="login-mail">
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="login-mail">
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <i class="fa fa-lock"></i>
                </div>
               
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                       
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)

                    </div>
                </div>
            </div>
               
                <div class="col-md-6 login-do">
                    <label class="hvr-shutter-in-horizontal login-sub">
                        <input type="submit" value="login">
                    </label>
                    <p>Do not have an account?</p>
                    <a href="@Url.Action("Register","Account")" class="hvr-shutter-in-horizontal">Signup</a>
                </div>

                <div class="clearfix"> </div>
            }
        </div>
        <div class="login-bottom">
            <div class="col-md-12">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!---->
    <div class="copy-right">
        <p> &copy; 2018 Bug Tracker. All Rights Reserved | Design by Shital Bhutiya</p>
    </div>
    <!---->
    <!--scrolling js-->
    <script src="~Script/jquery.nicescroll.js"></script>
    <script src="~Script/scripts.js"></script>
    <!--//scrolling js-->
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
