@model BugTracker.Models.RegisterViewModel
@{
    Layout = null;
    ViewBag.Title = "Register";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Bug Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Content/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="login">
        <h1><a href=@Url.Action("index","home")>Bug Tracker </a></h1>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="login-bottom">
                <h2>Register</h2>
                <div class="col-md-6">
                    <div class="login-mail">
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "Name" })
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="login-mail">
                        @Html.TextBoxFor(m => m.LastName, new { placeholder = "LastName" })
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="login-mail">
                        @Html.TextBoxFor(m => m.DisplayName, new { placeholder = "Display Name" })
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="login-mail">
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="login-mail">
                        @Html.TextBoxFor(m => m.Password, new { placeholder = "Password" })
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="login-mail">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password" })
                        <i class="fa fa-lock"></i>
                    </div>
                    <a class="news-letter" href="#">
                        <label class="checkbox1"><input type="checkbox" name="checkbox"><i> </i>I agree with the terms</label>
                    </a>
                </div>
                <div class="col-md-6 login-do">
                    <label class="hvr-shutter-in-horizontal login-sub">
                        <input type="submit" value="Submit">
                    </label>
                    <p>Already register</p>
                    <a href="@Url.Action("Login","Account")" class="hvr-shutter-in-horizontal">Login</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        }
    </div>
    <!---->
    <div class="copy-right">
        <p> &copy; 2018 Bug Tracker. All Rights Reserved | Design by Shital Bhutiya </p>
    </div>
    <!---->
    <!--scrolling js-->
    <script src="~Script/jquery.nicescroll.js"></script>
    <script src="~Script/scripts.js"></script>
    <!--//scrolling js-->
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
